/**** stylesheet for halloween ****/
/**** ESTA PÁGINA NO VA A SER RESPONSIVE ****/

@font-face {
    font-family: 'halloween'; /** comillas son necesarias si es más de 1 palabra **/
    src: url('../fonts/HalloweenPartyOTF.otf');

}

body {background-color:black;
    color: rgb(255, 255, 255);
    font-family: halloween;
}

#container {background-image: url(../images/fondo.jpg);
    width: 1268px; /** fijo el ancho como el de la imagen **/
    height: 665px; /** fijo el alto como el de  la imagen **/
    margin: auto; /** fijo la imagen en el centro **/
    position: relative; /** el container se mueve por la pantalla **/
}

#p1{
    font-size: 3em;
    text-shadow: 3px 3px 3px rgb(156, 26, 9);
    position: absolute; /** posicionamiento FIJO dentro de su contenedor = #container **/
    top: 165px; /** posicionamiento del texto vertical **/
    left: 350px; /** posicionamiento del texto horizontal **/
}

#p2{
position: absolute;
top: 60px;
left: 345px;
font-size: 0.8em;
text-shadow: 3px 3px 3px rgb(156, 26, 9);

}

#p3 {
    position: absolute;
    top: 390px;
    left: 670px;
    font-size: 0.8em;
    text-shadow: 3px 3px 3px rgb(156, 26, 9);
}

#invitacion {
    position: absolute;
left: 10px;
top: 340px;
font-size: 0.9em;
text-shadow: 3px 3px 3px rgb(156, 26, 9);


}

#bats{
position: absolute;
top: 5px;
left: 100px;
width: 500px;
visibility: hidden;
}

#murcielagos{
width: 170px;
height: 190px;
position: absolute;
top: 0px;
left: 320px;
}


#zombie{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1300px;
    visibility: hidden;
    }
    
    #muerto{
    width: 170px;
    height: 190px;
    position: absolute;
    top: 400px;
    left: 710px;

    }
